html * {
    font-family: 'Montserrat', sans-serif;
    color: #366768;
}

html,body {
    width: 100%;
    height: 100%;
}

img {
    width: 60px;
    height: 60px;
}

textarea {
    width: 100%;
    height: 70%;
    background-color: #ffe6cc;
}

button {
    border-radius: 8px;
    border-style: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
    height: 10%
}

.links {
    text-align: right;
    margin-right: 20px;
    height: 10%;
}

.dark-theme {
    background-color: #5900b3;
}

.new-note {
    background-color: #006149;
}

.save {
    background-color: #006149;
}

.cancel {
    background-color: #b30000;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: #ffdab3;
    column-gap: 15px;
}
    
    .grid-menu { 
        grid-area: 1 / 1 / 4 / 2;
        background-color: #ffe6cc;
        justify-content: center;
        padding: 15px;
    }

    header { 
        grid-area: 1 / 2 / 2 / 3;
        text-align: center;
    }

    main { 
        grid-area: 2 / 2 / 3 / 3;
        padding-bottom: 30px;
        height: 100%;
    }

    footer { 
        grid-area: 3 / 2 / 4 / 3;
        text-align: center;
    }




@media screen and (max-width: 768px) {

    .grid-container {
        display: flex;
        flex-direction: column;
    }

}