/*Standart styles*/
html * {
    font-family: 'Montserrat', sans-serif;
    
}

html,body {
    width: 100%;
    height: 100%;
}

img {
    width: 60px;
    height: 60px;
}

textarea {
    width: 100%;
    height: 70%;
}

.links {
    text-align: right;
    margin-right: 20px;
    height: 10%;
}

button {
    border-radius: 8px;
    border-style: groove;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 5px;
}


/*Togglign classes*/
.hidden {
    visibility: hidden;
}

.lightThemeText {
    color: #366768;
}

.light-theme {
    background-color: #ffdab3;
}

.light-theme2 {
    background-color: #ffe6cc;
}

.grid-dark-theme {
    background-color: #001933;
}

.grid-menu-dark-theme {
    background-color: #00254c;
}

.darkThemeText {
    color: lightcyan;
}


/*Button Id styles*/
#themeToggle {
    background-color: #5900b3;
}

#newNote {
    background-color: #006149;
}

#save {
    background-color: #006149;
}

#cancel {
    background-color: #b30000;
}


/*Grid  maker*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 1fr;
    column-gap: 15px;
}
    
    .grid-menu { 
        grid-area: 1 / 1 / 4 / 2;
        justify-content: center;
        padding: 15px;
    }

    header { 
        grid-area: 1 / 2 / 2 / 3;
        text-align: center;
    }

    main { 
        grid-area: 2 / 2 / 3 / 3;
        padding-bottom: 30px;
        height: 100%;
    }

    footer { 
        grid-area: 3 / 2 / 4 / 3;
        text-align: center;
        z-index: -1;
    }


/*mobile formatter*/
@media screen and (max-width: 768px) {

    .grid-container {
        display: flex;
        flex-direction: column;
    }

}