screenshots/html validator screenshot.PNG
screenshots/contrast validator screenshots/button text against cancel button background.PNG
screenshots/contrast validator screenshots/button text against dark theme button background.PNG
screenshots/contrast validator screenshots/button text against save and new note button background.PNG
screenshots/contrast validator screenshots/main text against main background.PNG
screenshots/contrast validator screenshots/main text against menu background.PNG
screenshots/git log screenshot.PNG
